<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,height=device-height initial-scale=1.0">
  <title>사용자 리스트 페이지</title>
</head>

<body>

  <h1>사용자 리스트(View - ejs)</h1>
  <div>
    <ul>
      <% for (let index=0; index < result.length; index++) {%>
        <li>
        #<% index + 1%> -
        아이디:<%=result[index]._doc.id%>
        이름:<%=result[index]._doc.name%>
        나이:<%=result[index]._doc.age%>
      </li>
    <%} %>
    </ul>
  </div>
  
  <br /><br />
  <a href="/public1/listUser.html">다시 요청</a>



</body>

</html>